<ion-tabs #tabs (ionTabsDidChange)="changeTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab == 'home'?'home':'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon [name]="selectedTab == 'search'?'search':'search-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add-post">
      <ion-icon [name]="selectedTab == 'add-post'?'film':'film-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="wishlist">
      <ion-icon [name]="selectedTab == 'wishlist'?'heart':'heart-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon [name]="selectedTab == 'profile'?'person':'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

